
#image {
    background-image: url("Let_X=X.png");
    background-size: cover; /* passt das Bild an */
    background-position: center;
    background-repeat: no-repeat;
    position: fixed; /* Immer am gleichen Ort im Viewport */
    top: 0;
    left: 0;
    width: 50dvh;
    height: 100dvh;
    z-index: -1;
  }
  
  body {
    color: #7d1578;
  }
  
  
  #text-box {
    background: #e96eff;
    box-shadow: 20px 20px #00fbff;
  }
  
  .choice-button {
    background: #7d1578;
    color: #e96eff;
    box-shadow: 20px 20px #00fbff;
  }
  
  .choice-button:hover {
    background: #e96eff;
    color: #7d1578;
  }
  