#scene-image {
    background-image: url("/visual%20novel/images/High_Five.png");
    background-size: cover; /* passt das Bild an */
    background-position: center;
    background-repeat: no-repeat;
    position: fixed; /* Immer am gleichen Ort im Viewport */
    top: 0;
    left: -50dvw;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: transform 0.8s ease;
}

#scene-image2 {
    background-image: url("/visual%20novel/images/High_Five.png");
    background-size: cover; /* passt das Bild an */
    background-position: center;
    background-repeat: no-repeat;
    position: fixed; /* Immer am gleichen Ort im Viewport */
    top: 0;
    right: -50dvw;
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    z-index: 1;
    transition: transform 0.8s ease;
}

#choice-button {
    position: fixed;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 80%;
    display: flex;
    justify-content: center;
  }

  #choice-button-top {
    
    position: fixed;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 120%;
    display: flex;
    justify-content: center;
}

#top-high-five-button {
    font-family: 'Helvetica Neue';
    font-size: 6rem; /* Passe den Wert nach Wunsch an */
}

#Titel-text {
    font-family: 'Helvetica Neue';
    font-size: 2rem; /* Passe den Wert nach Wunsch an */
    color: white;
    text-align: center;
    
}
  
  

.move-left {
    transform: translateX(15dvw) !important;
}

.move-right {
    transform: scaleX(-1) translateX(15dvw) !important;
}