
#image {
  background-image: url("Walk_The_Dog.png");
  background-size: cover; /* passt das Bild an */
  background-position: center;
  background-repeat: no-repeat;
  position: fixed; /* Immer am gleichen Ort im Viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  color: rgb(125, 21, 120);
}


#text-box {
  background: #e96eff;
  box-shadow: 20px 20px rgb(255, 0, 187);
}

.choice-button {
 
  background: #555;
  color: white;
  box-shadow: 20px 20px #898989;
}

.choice-button:hover {
  background: #777;
}
